/* ---- Printer list ----- */
.printer-list h3,
h2 {
  text-align: center;
  color: #f90b6d;
}
ul {
  padding: 0;
}
li {
  border: 2px #c4c4c4 solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 85%;
}
input[type='checkbox'] {
  display: inline-block;
}
.printer-list {
  display: flex;
}
#receipt-wrapper,
#printer-list-wrapper {
  min-height: 300px;
}
#selected-printer {
  color: purple;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  font-family: 'Signika', sans-serif;
  color: #222;
}

.btn {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: pointer;
  width: 100px;
}

.align-right {
  align-items: flex-end;
}

.btn:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.btn input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.hidden {
  display: none !important;
}
.visible {
  display: flex !important;
}
/* ----- Grid ----- */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.centered-content {
  justify-content: center;
  gap: 1em;
}

/* ----- Receipt container preview ----- */
.paper {
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  width: 90%;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  padding: 5px;
}
#receipt-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 10px;
}
hr.dashed {
  border-top: 3px dotted #bbb;
  border-bottom: none;
}

#bill-header {
  display: flex;
  justify-content: center;
  line-height: 1;
}

.centered {
  text-align: center;
}

.align-center,
#product-header .row,
#product-list .row {
  justify-content: center;
  align-items: center;
}
#product-list {
  line-height: 1.3;
}
/* #product-header .column {
  flex-basis: 10%;
} */
#product-header {
  font-weight: bold;
}

.receipt-content {
  display: flex;
  font-size: 10px;
  flex-wrap: wrap;
}

#bill-header {
  display: flex;
  justify-content: center;
  line-height: 1;
}

/* ----- Checkbox styling ---- */
input[type='checkbox'] {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
  margin: 0 0.4em 0.4em 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(#fcfcfc, #dadada);
  -webkit-appearance: none;
  -webkit-transition: box-shadow 200ms;
  box-shadow: inset 1px 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
input[type='checkbox']:disabled,
button:disabled {
  cursor: not-allowed;
}

/* border radius for checkbox */
input[type='checkbox'] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* hover state */
input[type='checkbox']:not(:disabled):hover {
  border-color: rgba(249, 11, 109, 0.5);
  box-shadow: inset 1px 1px 0 #fff, 0 0 4px rgba(249, 11, 109, 0.3);
}

/* active state */
input[type='checkbox']:active:not(:disabled) {
  background-image: -webkit-linear-gradient(#c2c2c2, #efefef);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 0 rgba(255, 255, 255, 0.6);
  border-color: rgba(0, 0, 0, 0.5);
}

/* focus state */
input[type='checkbox']:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #fb88b7;
}

/* input checked border color */
input[type='checkbox']:checked {
  border-color: rgba(0, 0, 0, 0.5);
}

/* checkbox checked */
input[type='checkbox']:checked:before {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  content: '\2713';
  -webkit-margin-start: 0;
  margin-left: 2px;
  font-size: 0.9em;
}

/* disabled input */
input:disabled {
  opacity: 0.6;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
