@page {
  margin: 0cm;
}
body {
  background: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 0px;
}
/* Centered container */
.container {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  width: 302px;
  padding-right: 5px;
  padding-left: 0px;
}
.centered {
  text-align: center;
}

.table-header {
  font-weight: bold;
}

.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}
.w-30 {
  width: 30%;
}
table {
  table-layout: fixed;
}
.w-3 {
  width: 3%;
}
#bill-body {
  width: 100%;
}

/* LAYOUD "GRID" */
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#bill-header {
  display: flex;
  justify-content: center;
  line-height: 1;
}

#product-header {
  font-weight: bold;
}
#product-list {
  line-height: 1.3;
}
#product-header .column,
#product-list .column {
  flex-basis: 20%;
}
#product-header .row,
#product-list .row {
  justify-content: center;
}

.align-right {
  align-items: flex-end;
}
.align-center {
  justify-content: center;
  align-items: center;
}
#client-name {
  font-weight: bold;
}
#bill-info > div:nth-child(1) {
  flex-basis: 25%;
}
h4,
h3 {
  margin: 0;
}
.contingency-message {
  background-color: #dedede;
  padding: 2px;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
/* Defines a short gapping inside "big blocks" meanwhile, the default gap (outside) is defined by container class */
.small-gap {
  gap: 2px;
}
#company-logo img {
  padding: 2px;
  /* Vertical alignment */
  margin: auto;
}
#company-logo-container {
  flex: 0;
}
